@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #333;
  font-family: sans-serif;
}


.nav {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background-color: #000000af;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  
}

.nav .nav-links a {
  transition: all 0.2s linear;
 
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}


h1{
    font-size: 20px;
    color:#fff;
   margin-left: 50px;
   margin-top: 45px;
   margin: auto;
}

.h{
    width: 90%;
    height: 100%;
    border: 1px #fff solid;
    display:inline-block;
    margin: 20px;
}

img{
    width: 100%;
    height: 100%;
    
}

.r{
    position: relative;
}


.contenido{
    position: absolute;
    bottom: 0;
    left: 20%;
    border-radius: 10px;
    background-color:rgba(9, 234, 9, 0.55) ;
    width: 60%;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center

}

a{
    font-size: 20px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #f3f3f3;
}

.altura{
    margin-top: 100px;
    margin-bottom: 100px;
}


.galeria{  
    width: 90%;
    margin:auto ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    column-gap: 4px;
    row-gap: .5rem;
    cursor: pointer;   
}

#img-activa {    
    width: 100%;
    height: 100%;
  }
  
  /*Contenedor Principal del Lightbox se le pude pasar un alto de 60vh a l img activa o al contenedor interno*/
  
  #contenedor-principal {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
    display:none;
    justify-content: center;
    align-items: center;
   
  }
  
  /*Contenedor interno del Lightbox se le puede cambiar el alto a 50vh para que la imagen */
  
  #contenedor-interno {
   
    position: relative;
    border: 2px #f3f3f3 solid;
    padding: 2px;
    background: #3f3f3f;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
   
  }
  
  /*Botones*/
  
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
  }
  
  #btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
  }
  
  #btn-retrocede {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
  }
  
  #btn-adelanta {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
  }

  

@media (min-width:100px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:728px){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media (min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width:1200px){
    .contenedor{
         width: 1200px;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background-color: #000000af;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  
}

.nav .nav-links a {
  transition: all 0.2s linear;
 
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 800px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}